html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.sim1-container {
  display: flex;
}

.parameterLabels {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 20px;
}


